<template name="components_common_header">
	<h1>{{{data.heading}}}</h1>
	<button class="navButton icon-menu-cv"></button>
	<nav>
		<ol>
			<li>
				<a href="{{pathFor 'home'}}" title="Home">
					Home
				</a>
			</li>
			<li>
				<a href="{{pathFor 'portfolio'}}" title="Portfolio">
					Portfolio
				</a>
			</li>
			<li>
				<a href="{{pathFor 'about'}}" title="About">
					About
				</a>
			</li>
		</ol>
	</nav>
	<address>{{data.content.location}}</address>
	<div>
		<a href="tel:{{content.tel}}">{{data.content.tel}}</a>
		<span>//</span>
		<a href="mailto:{{content.email}}">{{data.content.email}}</a>
	</div>
</template>