<template name="components_common_header">
	<h1>{{{heading}}}</h1>
	<button class="navButton"></button>
	<nav>
		<ol>
			<li>
				<a href="{{pathFor 'home'}}" title="Home">
					Home
				</a>
			</li>
			<li>
				<a href="{{pathFor 'portfolio'}}" title="Portfolio">
					Portfolio
				</a>
			</li>
			<li>
				<a href="{{pathFor 'about'}}" title="About">
					About
				</a>
			</li>
		</ol>
	</nav>
	<address>{{content.location}}</address>
	<a href="tel:{{content.tel}}">{{content.tel}}</a>
	<span>//</span>
	<a href="mailto:{{content.email}}">{{content.email}}</a>
</template>