@mixin animated($duration){
    -webkit-transition: $duration ease-in-out;
    -moz-transition: all $duration ease-in-out 0s;
    -o-transition: $duration ease-in-out;
}

@mixin roundcorner($px, $px, $px $px){
    border-radius: $px, $px, $px $px;
    -webkit-border-radius: $px, $px, $px $px;
    -moz-border-radius: $px, $px, $px $px;
    -o-border-radius: $px, $px, $px $px;
}

@mixin rotated($deg){
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -o-transform: rotate($deg);
}

@mixin toparrow($px){
    &:after{
        bottom: 100%;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after{
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: #000000;
        border-width: $px;
        left: 50%;
        margin-left: -$px;
    }
}