/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import "mixins.scss";

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    color: #000;
}

header, section{
    display: inline;
    float: left;
    width: 80%;
    max-width: 900px;
    margin: 0px 0px 0px 10%;
    padding: 25px 0px 10px 0px;
    clear: both;
}

header{
    h1{
        display: inline;
        float: left;
        width: 100%;
        clear: both;
        font-size: 1.3em;
        font-weight: bold;
    }
    a{
        display: inline;    
        float: left;
        text-decoration: none;
        font-size: 1.0em;
        color: #000;
        margin: 5px 10px 0px 0px;
        &:hover{
            text-decoration: underline;
        }
    }
    @media (max-width: 480px){
        a{
            float: left;
            clear: both;
            padding: 7px 0px 5px 0px;
            margin: 0px;
            font-size: 0.9em;
            text-decoration: none;
        }
    }
}

section{
    h2{
        display: inline;
        float: left;
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        clear: both;
        padding: 0px 0px 5px 0px;
        letter-spacing: 0.1em;
    }
    h2+h3{
        margin: 10px 0px 10px 0px;
    }
    h3{
        display: inline;
        float: left;
        font-size: 1.0em;
        font-weight: bold;
        clear: both;
        margin: 30px 0px 10px 0px;
    }
    h4{
        display: inline;
        float: left;
        clear: both;
        font-size: 1.0em;
        margin: 0px 0px 10px 0px;
    }
    h2+p{
        display: inline;
        float: left;
        line-height: 1.3em;   
    }
    @media (max-width: 480px){
        h4{
            float: left;
            margin: 10px 0px 10px 0px;
        }
    }
    ol{
        display: inline;
        float: left;
        margin: 0px 0px 0px 10px;
        text-indent: -10px;
        clear: both;
        li{
            display: inline;
            float: left;
            margin: 0px 20px 0px 0px;
            line-height: 1.5em;
            &:before{
                content: '\00BB';
            }            
            @media (max-width:480px){
                width: 100%;
                clear: both;
                padding: 3px 0px 3px 0px;
            }
        }
    }
    a{
        text-decoration: none;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #cdc9c8;
        }
    }
}

#technical_skills{
    dl{
        display: inline;
        float: left;
        clear: both;
        width: 100%;
        margin: 10px 0px 0px;
        dt, dd{
            display: inline;
            float: left;
        }
        dt{
            font-weight: bold;
            clear: both;
            width: 100%;
            margin: 0px 0px 5px 0px;
        }
        dd{
            line-height: 1.2em;
            margin: 0px 10px 5px 0px;
            &:after{
                content: ',';
            }
            &:last-child{
                &:after{
                    content: '';
                }
            }
        }
        @media (max-width:480px){
            dd{
                width: 100%;
                clear: both;
                &:after{
                     content: '';
                }
                &:before{
                    content: '\00BB';
                }    
            }
        }
    }
}

#portfolio{
    display: block !important;
    button{
        display: none;
    }
    div{
        display: block !important;
        float: left;
        width: 100% !important;
        @include transform(0px);
        figure{
            position: relative;
            display: block !important;
            float: left;
            width: 170px !important;
            min-height: 150px;
            margin: 10px 5px 10px 0px;
            border-right: 1px solid #cdc9c8;
            border-bottom: 1px solid #000;
            img.img-screen{
                display: none;
            }
            img.img-print{
                display: inline;
                float: left;
                width: 100px;
                height: auto;
            }
            img.img-qrcode{
                display: inline;
                float: right;
                width: 67px;
                height: auto;
            }
            figcaption{
                position: relative;
                display: inline;
                float: left;
                width: 250px;
                h3, a.link-short{
                    display: inline;
                    float: left;
                    width: 235px;
                    margin: 20px 0px 0px 15px;
                    font-size: 100%;
                    clear: both;
                }
                p, ol, a.link-full{
                    display: none !important;
                }
            }
            &:nth-child(3n){
                border-right: 0px;
            }
        }
    }
}

#technical_skills{
    h2{
        width: 100%;
    }
    dl{
        display: inline;
        float: left;
        width: 33%;
        min-height: 180px;
        line-height: 1.2em;

        dt, dd{
            display: inline;
            float: left;
        }
        dt{
            margin: 10px 0px 10px 0px;
            font-weight: bold;
        }
        dd{
            clear: both;
            &:before{
                content: '\00BB';
            }
        }
    }
}

footer{
    display: none;
}