/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import "mixins.scss";

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Average Sans' sans-serif;
    font-size: 1.0em;
    color: #000;
    border-top: 30px solid #D0E2D5;
    text-shadow: 1px 1px 1px #eee;
}

header, section{
    display: inline;
    float: left;
    width: 80%;
    max-width: 800px;
    margin: 0px 0px 0px 10%;
    padding: 50px 0px 10px 0px;
    clear: both;
    @media (max-width: 480px){
        padding: 20px 0px 10px 0px;
    }
}

header{
    border-bottom: 1px solid #000;
    h1{
        display: inline;
        float: left;
        font-size: 1.4em;
        font-weight: bold;
    }
    a{
        display: inline;    
        float: right;
        text-decoration: none;
        font-size: 0.75em;
        color: #cdc9c8;
        margin: 0px 0px 0px 5px;
        &:hover{
            text-decoration: underline;
        }
    }
    @media (max-width: 480px){
        a{
            float: left;
            clear: both;
            padding: 7px 0px 5px 0px;
            margin: 0px;
            font-size: 0.9em;
            text-decoration: none;
        }
    }
}

section{
    h2{
        display: inline;
        float: left;
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        clear: both;
        border-bottom: 1px solid #cdc9c8;
        padding: 0px 0px 5px 0px;
    }
    h2+h3{
        margin: 10px 0px 10px 0px;
    }
    h2+ol{
        margin: 10px 0px 0px 10px;
    }
    h3{
        display: inline;
        float: left;
        font-size: 1.1em;
        font-weight: bold;
        clear: left;
        margin: 30px 0px 10px 0px;
    }
    h4{
        display: inline;
        float: left;
        clear: both;
        font-size: 1.0em;
        margin: 0px 0px 10px 0px;
        color: #cdc9c8;
    }
    @media (max-width: 480px){
        h4{
            float: left;
            margin: 10px 0px 10px 0px;
        }
    }
    ol{
        display: inline;
        float: left;
        margin: 0px 0px 0px 10px;
        text-indent: -10px;
        clear: both;
        li{
            display: inline;
            float: left;
            margin: 0px 20px 0px 0px;
            line-height: 1.5em;
            &:before{
                content: '-';
            }            
            @media (max-width:480px){
                clear: both;
                padding: 3px 0px 3px 0px;
            }
        }
    }
    a{
        color: #8A8F91;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
        &:visited{
            color: #cdc9c8;
        }
    }
}

#technical_skills{
    h2{
        width: 100%;
    }
    dl{
        display: inline;
        float: left;
        width: 33%;
        min-height: 220px;
        line-height: 1.2em;

        dt, dd{
            display: inline;
            float: left;
        }
        dt{
            margin: 10px 0px 10px 0px;
            font-weight: bold;
        }
        dd{
            clear: both;
            &:before{
                content: "-";
            }
        }
    }
    @media (max-width: 480px){
        dl{
            width: 100%;
            min-height: 100px;   
        }
    }
}

#portfolio{
    position: relative;
    overflow-x: hidden;
    button{
        @include animated(0.3s);
        position: absolute;
        top: 50%;
        width: 100px;
        height: 80px;
        @include roundcorner(40px);
        background-color: #000;
        opacity: 0.0;
        border: 0px;
        z-index: 4;
        color: #fff;
        font-size: 1.5em;
    }
    .prev{
        left: -40px;
        padding-left: 30px;
        &:before{
            content: '< ';
        }
    }   
    .next{
        right: -40px;
        padding-right: 30px;
        &:after{
            content: ' >';
        }
    }
    &:hover button, &:hover figcaption{
        opacity: 0.9;
    }
    div{
        display: inline;
        float: left;
        position: relative;
        @include animated(0.5s);
        figure{
            position: relative;
            float: left;
            margin: 10px 0px 0px 0px;
            z-index: 2;
            &:nth-of-type(1){
                display: inline;
            }
            img{
                position: relative;
                display: inline;
                float: left;
                top: 0px;
                left: 0px;
                width: 75%;
                margin: 0px 0px 0px 12.5%;
                height: auto;
                z-index: 1;
            }
            figcaption{
                @include animated(0.3s);
                opacity: 0.0;
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                min-height: 10%;
                color: #fff;
                background-color: #000;
                z-index: 5;
                h6{
                    font-size: 1.1em;
                    text-shadow: none;
                    margin: 10px 0px 0px 12.5%;
                }
            }
        }
    }
}

footer{
    display: inline;
    float: left;
    width: 100%;
    height: 100px;
    background-color: #D0E2D5;
}