/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Average+Sans);
@import "mixins.scss";

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    color: #000;
    border-top: 30px solid #397aa7;
    text-shadow: 1px 1px 1px #eee;
    @media (max-width: 480px){ 
        border-top: none;
        padding: 30px 0px 0px 0px;
    }
}

header, section{
    display: inline;
    float: left;
    width: 80%;
    max-width: 900px;
    margin: 0px 0px 0px 10%;
    padding: 25px 0px 10px 0px;
    clear: both;
    form{
        display: none;
    }
    @media (max-width: 480px){
        padding: 20px 0px 10px 0px;
        form{
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 90%;
            padding: 0px 5% 0px 5%;
            height: 30px;
            background-color: #397aa7;
            z-index: 5;
            select{
                display: inline;
                float: left;
                width: 100%;
                margin: 6px 0px 0px 0px;
            }
        }
    }
}

header{
    h1{
        display: inline;
        float: left;
        width: 100%;
        clear: both;
        font-size: 3.0em;
        font-weight: bold;
        color: #397aa7;
        text-shadow: #96d9f7;
    }
    @media (max-width: 480px){
        h1{
            font-size: 1.6em;
        }
    }
    a{
        display: inline;    
        float: left;
        text-decoration: none;
        font-size: 1.0em;
        color: #000;
        margin: 5px 10px 0px 0px;
        &:hover{
            text-decoration: underline;
        }
    }
    address{
        display: inline;
        float: left;
        width: 100%;
        clear: both;
        margin: 5px 0px 5px 0px;
    }
    @media (max-width: 480px){
        a{
            float: left;
            clear: both;
            padding: 7px 0px 5px 0px;
            margin: 0px;
            font-size: 0.9em;
            text-decoration: none;
        }
    }
}

section{
    h2{
        display: inline;
        float: left;
        width: 100%;
        font-size: 1.2em;
        font-weight: bold;
        clear: both;
        padding: 0px 0px 5px 0px;
        letter-spacing: 0.1em;
        color: #397aa7;
        text-shadow: #96d9f7;
    }
    h2+h3{
        margin: 10px 0px 10px 0px;
    }
    h3{
        display: inline;
        float: left;
        font-size: 1.0em;
        font-weight: bold;
        clear: both;
        margin: 30px 0px 10px 0px;
    }
    h4{
        display: inline;
        float: left;
        clear: both;
        font-size: 1.0em;
        margin: 0px 0px 10px 0px;
    }
    h2+p{
        display: inline;
        float: left;
        line-height: 1.3em;   
    }
    @media (max-width: 480px){
        h4{
            float: left;
            margin: 10px 0px 10px 0px;
        }
    }
    ol{
        display: inline;
        float: left;
        margin: 0px 0px 0px 10px;
        text-indent: -10px;
        clear: both;
        li{
            display: inline;
            float: left;
            clear: both;
            margin: 0px 20px 0px 0px;
            line-height: 1.5em;
            &:before{
                content: '\00BB';
            }            
            @media (max-width:480px){
                width: 100%;
                clear: both;
                padding: 3px 0px 3px 0px;
            }
        }
    }
    a{
        color: #fff;
        background-color: #397aa7;
        @include roundcorner(10px);
        text-shadow: none;
        text-decoration: none;
        padding: 1px 5px 1px 5px;
    }
}

#technical_skills{
    dl{
        display: inline;
        float: left;
        width: 33%;
        min-height: 150px;
        margin: 10px 0px 0px 0px;
        dt, dd{
            display: block;
            float: left;
            clear: both;
        }
        dt{
            font-weight: bold;
            clear: both;
            width: 100%;
            margin: 0px 0px 10px 0px;
            color: #397aa7;
        }
        dd{
            line-height: 1.2em;
            margin: 0px 0px 5px 0px;
            &:before{
                content: '\00BB';
            } 
        }
    }
    @media (max-width:720px){
        dl{
            display: block;
            width: 100%;
        }
    }
}

#portfolio{
    position: relative;
    overflow-x: hidden;
    display: none;
    button{
        @include animated(0.3s);
        position: absolute;
        top: 50%;
        width: 7.5%;
        height: 80px;
        background-color: #000;
        opacity: 0.0;
        border: 0px;
        z-index: 4;
        color: #fff;
        font-size: 1.5em;
    }
    @media (max-width:480px){
        button{
            background-color: transparent !important;
            border-radius: 0px !important;
            opacity: 1.0 !important;
            color: #000 !important;
        }
    }
    .prev{
        left: -7.5%;
        @include roundcorner(0px 40px 40px 0px);
        &:before{
            content: '\00AB';
        }
    }   
    .next{
        right: 0%;
        @include roundcorner(40px 0px 0px 40px);
        &:after{
            content: '\00BB';
        }
    }
    &:hover button, &:hover figcaption{
        opacity: 0.9;
    }
    div{
        display: inline;
        float: left;
        position: relative;
        @include animated(0.5s);
        figure{
            position: relative;
            float: left;
            margin: 10px 0px 0px 0px;
            z-index: 2;
            cursor: hand;
            cursor: pointer;
            &:nth-of-type(1){
                display: inline;
            }
            img.img-screen{
                position: relative;
                display: inline;
                float: left;
                top: 0px;
                left: 0px;
                width: 75%;
                margin: 0px 0px 0px 12.5%;
                height: auto;
                z-index: 1;
            }
            img.img-print, img.img-qrcode{
                display: none;
            }
            figcaption{
                @include animated(0.3s);
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                min-height: 20%;
                color: #fff;
                background-color: #000;
                z-index: 5;
                h3, p, dd, ol, a.link-full{
                    display: none;
                    position: relative;
                    opacity: 0.0;
                    float: left;
                    clear: both;
                    margin: 10px 0px 0px 12.5%;
                    width: 75%;
                    text-shadow: none;
                    @include animated(0.6s);
                }
                h3{
                    font-size: 1.1em;
                    opacity: 1.0;
                    display: inline;
                    height: 100%;
                    width: 50%;
                }
                ol{
                    margin: 10px 0px 0px 12.5%;
                    li{
                        text-indent: -15px;
                        margin: 0px 0px 0px 15px;
                        line-height: 1.2em;
                        &:before{
                            content: '\2714';
                        } 
                    }
                }
                @media (max-width:767px){
                    p{
                        display: none !important;
                    }
                }
                a.moreinfo{
                    position: relative;
                    opacity: 1.0;
                    display: inline;
                    float: left;
                    margin: 5px 0px 0px 12.5%;
                    color: #397aa7;
                    background-color: transparent;
                    padding: 0px;
                    text-shadow: none;
                    clear: both;
                    &:after{
                        content: '\00BB';
                    }
                }
                a.close{
                    display: none;
                    float: right;
                    margin: 5% 30px 0px 0px;
                }
                a.link-full{
                    color: #397aa7;
                    background-color: transparent;
                    padding: 0px;
                    &:before{
                        content: '\00BB';
                    }
                }
                a.link-short{
                    display: none;
                }
            }
            @media (max-width:480px){
                figcaption{
                    display: none !important;
                }
            }
        }
    }
}

footer{
    display: inline;
    float: left;
    width: 100%;
    height: 100px;
    background-color: #397aa7;
}