<head>
	<meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="fragment" content="!">
    <title>Matt Finucane - CV</title>
</head>
<body>
	{{> unsupported}}
</body>

<template name="main">
	<div class="container">
		<div class="parentWrapper">
			<header>
				{{> yield region="header"}}
			</header>
			<section>
				{{> yield region="content"}}
			</section>
			<footer>
				{{> yield region="footer"}}
			</footer>
		</div>
	</div>
</template>

<template name="print">
	<div class="container">
		<div class="parentWrapper">
			<header>
				{{> yield region="header"}}
			</header>
			<section>
				{{> yield region="profile"}}
				{{> yield region="skills"}}
				{{> yield region="experience"}}
				{{> yield region="qualifications"}}
				{{> yield region="interests"}}
			</section>
			<footer>
				{{> yield region="footer"}}
			</footer>
		</div>
	</div>
</template>

