<template name="unsupported">
	<div class="content">
		<h1>
			Matt Finucane &ndash; CV
		</h1>
		<h2>
			Hello
		</h2>
		<p>
			It appears that you are using an older web browser to access this site. Unfortunately, to deliver the best user experience it is recommended to update your browser to a more modern version.
		</p>
		<p>
			This website is built to work on modern browsers, all of which can be downloaded below.
		</p>
		<p>
			Alternatively, the legacy version of my CV can be viewed online at <a href="http://legacycv.mattfinucane.de" title="Matt Finucane CV (Legacy)">http://legacycv.mattfinucane.de</a> which will work with older browsers.
		</p>
		<ul>
			<li>
				<a href="https://www.google.com/chrome/browser/" title="Google Chrome">
					<figure>
						<img src="/images/browsers/chrome.png" width="128" height="128" alt="Google Chrome" />
						<figcaption>Google Chrome</figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" title="Internet Explorer">
					<figure>
						<img src="/images/browsers/internet_explorer.png" width="128" height="128" alt="Internet Explorer" />
						<figcaption>Internet Explorer</figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="http://www.mozilla.org/en-US/firefox/new/" title="Mozilla Firefox">
					<figure>
						<img src="/images/browsers/firefox.png" width="128" height="128" alt="Mozilla Firefox" />
						<figcaption>Mozilla Firefox</figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="https://www.apple.com/safari/" title="Safari">
					<figure>
						<img src="/images/browsers/safari.png" width="128" height="128" alt="Safari" />
						<figcaption>Safari</figcaption>
					</figure>
				</a>
			</li>
			<li>
				<a href="http://www.opera.com/" title="Opera">
					<figure>
						<img src="/images/browsers/opera.png" width="128" height="128" alt="Opera" />
						<figcaption>Opera</figcaption>
					</figure>
				</a>
			</li>
		</ul>
	</div>
</template>