@import url(http://fonts.googleapis.com/css?family=Average+Sans);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 15, ../sass/screen.scss */
body {
  width: 100%;
  height: 100%;
  font-family: 'Average Sans', sans-serif;
  font-size: 1.0em;
  color: #000;
  border-top: 30px solid #D0E2D5;
  text-shadow: 1px 1px 1px #eee;
}

/* line 25, ../sass/screen.scss */
header, section {
  display: inline;
  float: left;
  width: 80%;
  max-width: 800px;
  margin: 0px 0px 0px 10%;
  padding: 50px 0px 10px 0px;
  clear: both;
}
@media (max-width: 480px) {
  /* line 25, ../sass/screen.scss */
  header, section {
    padding: 20px 0px 10px 0px;
  }
}

/* line 38, ../sass/screen.scss */
header {
  border-bottom: 1px solid #000;
}
/* line 40, ../sass/screen.scss */
header h1 {
  display: inline;
  float: left;
  font-size: 1.4em;
  font-weight: bold;
}
/* line 46, ../sass/screen.scss */
header a {
  display: inline;
  float: right;
  text-decoration: none;
  font-size: 0.75em;
  color: #cdc9c8;
  margin: 0px 0px 0px 5px;
}
/* line 53, ../sass/screen.scss */
header a:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  /* line 58, ../sass/screen.scss */
  header a {
    float: left;
    clear: both;
    padding: 7px 0px 5px 0px;
    margin: 0px;
    font-size: 0.9em;
    text-decoration: none;
  }
}

/* line 70, ../sass/screen.scss */
section h2 {
  display: inline;
  float: left;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  clear: both;
  border-bottom: 1px solid #cdc9c8;
  padding: 0px 0px 5px 0px;
}
/* line 80, ../sass/screen.scss */
section h2 + h3 {
  margin: 10px 0px 10px 0px;
}
/* line 83, ../sass/screen.scss */
section h2 + ol {
  margin: 10px 0px 0px 10px;
}
/* line 86, ../sass/screen.scss */
section h3 {
  display: inline;
  float: left;
  font-size: 1.1em;
  font-weight: bold;
  clear: left;
  margin: 30px 0px 10px 0px;
}
/* line 94, ../sass/screen.scss */
section h4 {
  display: inline;
  float: left;
  clear: both;
  font-size: 1.0em;
  margin: 0px 0px 10px 0px;
  color: #cdc9c8;
}
@media (max-width: 480px) {
  /* line 103, ../sass/screen.scss */
  section h4 {
    float: left;
    margin: 10px 0px 10px 0px;
  }
}
/* line 108, ../sass/screen.scss */
section ol {
  display: inline;
  float: left;
  margin: 0px 0px 0px 10px;
  text-indent: -10px;
  clear: both;
}
/* line 114, ../sass/screen.scss */
section ol li {
  display: inline;
  float: left;
  margin: 0px 20px 0px 0px;
  line-height: 1.5em;
}
/* line 119, ../sass/screen.scss */
section ol li:before {
  content: '\00BB';
}
@media (max-width: 480px) {
  /* line 114, ../sass/screen.scss */
  section ol li {
    clear: both;
    padding: 3px 0px 3px 0px;
  }
}
/* line 128, ../sass/screen.scss */
section a {
  color: #8A8F91;
  text-decoration: none;
  font-weight: bold;
}
/* line 132, ../sass/screen.scss */
section a:hover {
  text-decoration: underline;
}
/* line 135, ../sass/screen.scss */
section a:visited {
  color: #cdc9c8;
}

/* line 142, ../sass/screen.scss */
#technical_skills h2 {
  width: 100%;
}
/* line 145, ../sass/screen.scss */
#technical_skills dl {
  display: inline;
  float: left;
  width: 33%;
  min-height: 220px;
  line-height: 1.2em;
}
/* line 152, ../sass/screen.scss */
#technical_skills dl dt, #technical_skills dl dd {
  display: inline;
  float: left;
}
/* line 156, ../sass/screen.scss */
#technical_skills dl dt {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}
/* line 160, ../sass/screen.scss */
#technical_skills dl dd {
  clear: both;
}
/* line 162, ../sass/screen.scss */
#technical_skills dl dd:before {
  content: '\00BB';
}
@media (max-width: 480px) {
  /* line 168, ../sass/screen.scss */
  #technical_skills dl {
    width: 100%;
    min-height: 100px;
  }
}

/* line 175, ../sass/screen.scss */
#portfolio {
  position: relative;
  overflow-x: hidden;
  display: none;
}
/* line 179, ../sass/screen.scss */
#portfolio button {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  width: 7.5%;
  height: 80px;
  background-color: #000;
  opacity: 0.0;
  border: 0px;
  z-index: 4;
  color: #fff;
  font-size: 1.5em;
}
@media (max-width: 480px) {
  /* line 179, ../sass/screen.scss */
  #portfolio button {
    display: none;
  }
}
/* line 195, ../sass/screen.scss */
#portfolio .prev {
  left: -7.5%;
  border-radius: 0px 40px 40px 0px;
  -webkit-border-radius: 0px 40px 40px 0px;
  -moz-border-radius: 0px 40px 40px 0px;
  -o-border-radius: 0px 40px 40px 0px;
}
/* line 198, ../sass/screen.scss */
#portfolio .prev:before {
  content: '\00AB';
}
/* line 202, ../sass/screen.scss */
#portfolio .next {
  right: 0%;
  border-radius: 40px 0px 0px 40px;
  -webkit-border-radius: 40px 0px 0px 40px;
  -moz-border-radius: 40px 0px 0px 40px;
  -o-border-radius: 40px 0px 0px 40px;
}
/* line 205, ../sass/screen.scss */
#portfolio .next:after {
  content: '\00BB';
}
/* line 209, ../sass/screen.scss */
#portfolio:hover button, #portfolio:hover figcaption {
  opacity: 0.9;
}
/* line 212, ../sass/screen.scss */
#portfolio div {
  display: inline;
  float: left;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: 0.5s ease-in-out;
}
/* line 217, ../sass/screen.scss */
#portfolio div figure {
  position: relative;
  float: left;
  margin: 10px 0px 0px 0px;
  z-index: 2;
}
/* line 222, ../sass/screen.scss */
#portfolio div figure:nth-of-type(1) {
  display: inline;
}
/* line 225, ../sass/screen.scss */
#portfolio div figure img.img-screen {
  position: relative;
  display: inline;
  float: left;
  top: 0px;
  left: 0px;
  width: 75%;
  margin: 0px 0px 0px 12.5%;
  height: auto;
  z-index: 1;
}
/* line 236, ../sass/screen.scss */
#portfolio div figure img.img-print, #portfolio div figure img.img-qrcode {
  display: none;
}
/* line 239, ../sass/screen.scss */
#portfolio div figure figcaption {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: 0.3s ease-in-out;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 15%;
  color: #fff;
  background-color: #000;
  z-index: 5;
}
/* line 249, ../sass/screen.scss */
#portfolio div figure figcaption h3, #portfolio div figure figcaption p, #portfolio div figure figcaption dd, #portfolio div figure figcaption ol, #portfolio div figure figcaption a.link-full {
  display: none;
  position: relative;
  opacity: 0.0;
  float: left;
  clear: both;
  margin: 10px 0px 0px 12.5%;
  width: 75%;
  text-shadow: none;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: 0.6s ease-in-out;
}
/* line 260, ../sass/screen.scss */
#portfolio div figure figcaption h3 {
  font-size: 1.1em;
  opacity: 1.0;
  display: inline;
  height: 100%;
}
/* line 266, ../sass/screen.scss */
#portfolio div figure figcaption ol {
  margin: 40px 0px 0px 12.5%;
}
/* line 268, ../sass/screen.scss */
#portfolio div figure figcaption ol li {
  text-indent: -15px;
  margin: 0px 0px 0px 15px;
  line-height: 1.2em;
}
/* line 272, ../sass/screen.scss */
#portfolio div figure figcaption ol li:before {
  content: '\2714';
}
@media (max-width: 800px) {
  /* line 278, ../sass/screen.scss */
  #portfolio div figure figcaption p {
    display: none !important;
  }
  /* line 281, ../sass/screen.scss */
  #portfolio div figure figcaption ol {
    margin: 10px 0px 0px 12.5%;
  }
}
/* line 286, ../sass/screen.scss */
#portfolio div figure figcaption a.link-full:before {
  content: '\00BB';
}
/* line 290, ../sass/screen.scss */
#portfolio div figure figcaption a.link-short {
  display: none;
}
@media (max-width: 480px) {
  /* line 295, ../sass/screen.scss */
  #portfolio div figure figcaption {
    display: none !important;
  }
}

/* line 303, ../sass/screen.scss */
footer {
  display: inline;
  float: left;
  width: 100%;
  height: 100px;
  background-color: #D0E2D5;
}
